<div class="col-md-3 animated slideInRight marginTop40">
	<form class="form-group" name="frm" novalidate>
		<label>First Name</label>
		<input type="text" placeholder="First Name" class="form-control" name="firstName" ng-model="newPerson.firstName"/>
		<label class="marginTop10">Last Name</label>
		<input type="text" placeholder="Last Name" class="form-control" name="lastName" ng-model="newPerson.lastName" />
		<label class="marginTop10">Email</label>
		<input type="email" placeholder="Email" class="form-control" name="email" ng-model="newPerson.email" />
		<label class="marginTop10">Company</label>
		<input type="text" placeholder="Company" class="form-control" name="company" ng-model="newPerson.company" />
		<label class="control-label marginTop10">Select File</label>
		<input id="input-1a" type="file" class="file" data-show-preview="false">
		<div class="row marginTop10" style="margin-left: 1px;">
			<input type="button" value="Update" class="btn btn-primary" ng-click="update()">
		</div>
</form>
</div>