
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script type="text/javascript">

	var myModule = angular.module('FilterInControllerModule', []);

	myModule.controller('FilterController', Ctrl);
	Ctrl.$inject = ['$scope','filterFilter','$http'];

	function Ctrl($scope, filterFilter, $http){
		$scope.dataShow = '';
		$scope.ngClickSubmitForm = function() {

			$http({
			  method: 'POST',
			  url: 'DBPHP.php',
			  data: $scope.newObj
			}).then(function successCallback(response) {
				debugger
			    	$scope.dataShow = response.config.data;
			   
			  }, function errorCallback(response) {
			    
			});

	    };

	    $scope.getData = function() {

			$http({
			  method: 'GET',
			  url: 'SELECTDATA.php'
			}).then(function successCallback(response) {
				// debugger
			    	$scope.dataShow = response.data;
			   
			  }, function errorCallback(response) {
			    
			});

	    };

	    $scope.getData();

	}




</script>
<style type="text/css">
	.paddingDiv{
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.List_Name{

	}

</style>
<div ng-app="FilterInControllerModule">
	<div ng-controller="FilterController">
		
		<div class="paddingDiv">
	  		First Name : 
	  		<input type="text" ng-model="newObj.stFirstName" >
	  	</div>
	  	<div class="paddingDiv">
	  		Last Name : 
	  		<input type="text" ng-model="newObj.stLastName" >
	  	</div>
	  	<div class="paddingDiv">
	  		Gender : 
	  		<input type="text" ng-model="newObj.stGender" >
	  	</div>
	  	<div class="paddingDiv">
	  		DOB : 
	  		<input type="text" ng-model="newObj.stDOB" >
	  	</div>
	  	<div class="paddingDiv">
	  		POB : 
	  		<input type="text" ng-model="newObj.stPOB" >
	  	</div>
	  	<div class="paddingDiv">
		  	<button ng-click="ngClickSubmitForm()" >
			  Save
			</button>
		</div>

		<div class="List_Name paddingDiv" ng-repeat="row in dataShow">
			<ul >
				<li>First Name : {{row.stFirstName}}</li>
				<li>Last Name : {{row.stLastName}}</li>
				<li>Gender : {{row.stGender}}</li>
				<li>DOB : {{row.stDOB}}</li>
				<li>POB : {{row.stPOB}}</li>
			</ul>
		</div>

	</div>
</div>